#cover_img {
    width:100%;
    height:0;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 29% 100%, 0% 90%);
    position:relative;
    z-index:-1;
    margin-bottom:-17rem;

    img {
        width:100%;
        height:auto;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:auto;
        opacity:0.9;
    }

    .bloc_titre_logo {
        height:25.25rem;
        position:relative;
        margin-top:20vh;
        animation: runwaylogo 20s linear infinite;

        h1 {
            position:absolute;
            top:0;
            left:0;
            width:100vw;
            height:100%;
            text-indent: -9999rem;
            background: url('../svgs/LOGO.svg') no-repeat left center;
        }
    }
}