#latest_song {
    opacity:0; 

    .content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        h3 {
            font-family:'firasans_bold', Arial, Helvetica, sans-serif;
            font-size:1.8em;
            line-height:1.2em;
            text-transform: uppercase;
            color:$white;
            text-align: right;
            width:16.8rem;
            margin: 0;
            margin-right:2rem;
        }
    
        img {
            width:20rem;
            height:20rem;
            @include redboxshadow;
            @include whiteborder;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;
        margin-top:1.1rem;

        li {
            &:not(:first-child) {
                margin-left:1rem;
            }

            a {
                display: block;
                width:2rem;
                height:2rem;
            }
        }

        .deezer a {
            background: url('../svgs/latestSong/DEEZER.svg') no-repeat center center;
        }

        .spotify a {
            background: url('../svgs/socialMedias/SPOTIFY.svg') no-repeat center center;
        }

        .amazon_music a {
            background: url('../svgs/latestSong/AMAZON_MUSIC.svg') no-repeat center center;
        }

        .google_play a {
            background: url('../svgs/latestSong/GOOGLE_PLAY.svg') no-repeat center center;
        }

        .itunes a {
            background: url('../svgs/latestSong/ITUNES.svg') no-repeat center center;
        }

        .youtube_music a {
            background: url('../svgs/latestSong/YOUTUBE_MUSIC.svg') no-repeat center center;
        }
    }
}