#latest_song {
    .content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        h3 {
            font-family:'firasans_bold', Arial, Helvetica, sans-serif;
            font-size:1.8em;
            line-height:1.2em;
            text-transform: uppercase;
            color:$white;
            text-align: right;
            width:10.5rem;
            margin: 0;
            margin-right:1.25rem;
        }
    
        img {
            width:12.5rem;
            height:12.5rem;
            @include redbowshadow;
            @include whiteborder;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;
        margin-top:0.6875rem;

        li {
            &:not(:first-child) {
                margin-left:0.625rem;
            }

            a {
                display: block;
                width:1.25rem;
                height:1.25rem;
            }
        }

        .deezer a {
            background: url('../svgs/latestSong/DEEZER.svg') no-repeat center center;
        }

        .spotify a {
            background: url('../svgs/socialMedias/SPOTIFY.svg') no-repeat center center;
        }

        .amazon_music a {
            background: url('../svgs/latestSong/AMAZON_MUSIC.svg') no-repeat center center;
        }

        .google_play a {
            background: url('../svgs/latestSong/GOOGLE_PLAY.svg') no-repeat center center;
        }

        .itunes a {
            background: url('../svgs/latestSong/ITUNES.svg') no-repeat center center;
        }

        .youtube_music a {
            background: url('../svgs/latestSong/YOUTUBE_MUSIC.svg') no-repeat center center;
        }
    }
}