.home {
    #news {
        padding-bottom:1rem;

        .container_news {

            .news_card {
                width:30%;
                height:46rem;

                .content {
                    transition: opacity .3s ease-in-out .3s;
                    padding:3rem 12.8rem;
                }

                &.hover_card {
                    width:50%;
                }
            }
        }

        .big_action {
            margin-top:4rem;
            text-align: center;
        }
    }
}

.newsPage {
    #news {
        .container_news {
            justify-content: flex-start;
            flex-wrap: wrap;
            opacity:0;
            margin-left:-2.8rem;
            margin-right:-7.8rem;

            @media screen and (max-width: $small-compt) {
                margin-left: -2.8rem;
                margin-right: -2.8rem;
            }
    
            .news_card {
                width:19.5%;
                height:30rem;
                @include whiteborder;
                border-style: inset;

                @media screen and (max-width: $small-compt) {
                    width:33.333%;
                }
    
                .content {
                    padding:2rem 6.4rem;
    
                    .title {
                        max-height:5.6rem;
                        overflow:hidden;
                    }
    
                    .subtitle {
                        max-height: 15.3rem;
                        overflow: hidden;
                    }
    
                    .action {
                        margin-top:1.9rem;
                    }
                }
    
                &.hover_card {
                    @include redboxshadow;
                }
            }
        }
    }
}

#news {
    overflow:hidden;

    .container_news {
        display: flex;
        overflow: hidden;
        justify-content: center;
        margin-left:-4.8rem;
        margin-right:-4.8rem;
    
        .news_card {
            position:relative;
            transform:skew(-10deg);
            overflow:hidden;
            width:30%;
            height:46rem;
            transition: width .3s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    
            &.hover_card {
                .content {
                    opacity:1;
                    transition: opacity .3s ease-in-out 0;
                }
    
                img {
                    filter:grayscale(0);
                }
            }
        
            .content {
                position: absolute;
                bottom:0;
                left:-5%;
                width:110%;
                transform:skew(10deg);
                background-color: rgba($black, 0.75);
                opacity:0;
                transition: opacity .3s ease-in-out;

                @media screen and (max-width: $small-compt) {
                    left:-10%;
                    width:120%;
                }
        
                .title {
                    font-family: 'firasans_bold',arial,helvetica,sans-serif;
                    font-size: 2.4em;
                    line-height: 1.2em;
                    color:$white;
                    text-transform: uppercase;
                    margin: 0;
                }
        
                .subtitle {
                    overflow:hidden;
                    
                    p {
                        margin: 0;
                        margin-top: 1rem;
                    }
                }
        
                .action {
                    margin-left: auto;
                    margin-top:3rem;
                    display: block;
                    width:fit-content;
        
                    &::after {
                        content:'';
                        position:absolute;
                        top:0;
                        left:-5%;
                        width:110%;
                        height:100%;
                        display:block;
                    }
                }
            }
        
            img {
                transform:skew(10deg);
                position:absolute;
                top:0;
                left:-10%;
                width:120%;
                height:100%;
                object-fit: cover;
                z-index:-1;
                filter:grayscale(100%);
            }
        }
    }
}