.home {
    #tour_dates {
        .content {
            .title_home {
                margin-bottom:-4rem;

                @media screen and (max-width: $small-compt) {
                    margin-bottom: 0;
                }

                @media screen and (max-width: $small-compt) {
                    margin-bottom: 2.5rem;
                }
            }

            .dates {
                @media screen and (max-width: $small-compt) {
                    margin-bottom: 3rem;
                }
            }
        }

        img {
            max-width:30%;
            flex: 0 0 30%;

            @media screen and (max-width: $small-compt) {
                max-width:35%;
                flex: 0 0 35%;
            }

            @media screen and (max-width: $tablette) {
                display: none;
            }
        }
    }
}

.tourdates {
    min-height:calc(100vh - 8rem);

    #tour_dates {
        .title_home {
            margin-bottom:4rem;
            opacity:0;
        }

        .dates {
            margin-bottom:10rem;
            opacity:0;
        }

        padding-top:18rem;
        padding-bottom:10rem;
        margin-top:0;

        @media screen and (max-width: $tablette) {
            padding-top: 5rem;
        }
    }
}

#tour_dates {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .content {
        max-width:70%;
        flex: 0 0 70%;
        padding-left:8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        color:$white;

        @media screen and (max-width: $small-compt) {
            max-width:65%;
            flex: 0 0 65%;
            padding-left:1rem;
            padding-right:1rem;
        }

        @media screen and (max-width: $tablette) {
            max-width:100%;
            flex: 0 0 100%;
        }

        @media screen and (max-width: $phone) {
            justify-content: center;
            align-items: center;
        }

        .dates {
            width:100%;

            @media screen and (max-width: $phone) {
                justify-content: space-between;
            }

            .tour_line {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem .8rem;
                background-image: linear-gradient(135deg, $dark_grey 0%, $dark_grey 50%, transparent 50.1%);
                background-size: 0% 100%;
                background-repeat: no-repeat;
                transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);

                @media screen and (max-width: $phone) {
                    flex-direction: column;
                    width:100%;
                    padding-right:30%;
                    position: relative;
                }

                &:hover {
                    background-size: 220% 100%;

                    @media screen and (max-width: $phone) {
                        background-size:0;
                    }
                }

                .date {
                    flex: 0 0 22%;
                    max-width:22%;

                    @media screen and (max-width: $phone) {
                        flex: 0 0 100%;
                        max-width:100%;
                        width:100%;
                    }

                    .weekday {
                        font-family:'firasans_bold_italic', Arial, Helvetica, sans-serif;
                        font-size: 2.4em;
                        text-transform: uppercase;
                        display: block;
                        line-height: 1em;

                        @media screen and (max-width: $small-compt) {
                            font-size:2em;
                        }
                    }

                    .day {
                        font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                        font-size: 2.4em;
                        text-transform: uppercase;
                        line-height: 1em;

                        @media screen and (max-width: $small-compt) {
                            font-size:2em;
                        }
                    }
                }

                .place_city {
                    flex: 0 0 30%;
                    max-width:30%;
                    position: relative;

                    @media screen and (max-width: $phone) {
                        flex: 0 0 100%;
                        max-width:100%;
                        width:100%;
                    }

                    .place {
                        font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                        text-transform: uppercase;
                        color:$grey;
                        font-size: 2em;
                        line-height: 1em;
                        display: block;

                        @media screen and (max-width: $small-compt) {
                            font-size:1.8em;
                        }
                    }

                    .city {
                        font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                        font-size: 2.4em;
                        line-height: 1em;

                        @media screen and (max-width: $small-compt) {
                            font-size:2em;
                        }
                    }

                    a::after {
                        content:'';
                        display: block;
                        width:100%;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:0;
                    }
                }

                .guests {
                    flex: 0 0 20%;
                    max-width:20%;
                    padding:0 1.6rem;
                    span {
                        font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                        font-size: 1.8em;
                        line-height: 1.2em;
                        color:$grey;
                        text-transform: uppercase;

                        @media screen and (max-width: $small-compt) {
                            font-size:1.4em;
                            max-width:18%;
                            flex: 0 0 18%;
                        }
                        
                    }
                }

                .tickets {
                    flex: 0 0 30%;
                    max-width:30%;
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: $phone) {
                        position:absolute;
                        width:50%;
                        top:0;
                        right:0;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height:100%;
                    }

                    li:not(first-of-type) {
                        margin-top:1rem;
                    }
                }
            }
        }
    }
}