/*** VARIABLES ***/
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/mixins';
@import 'variables/animations';

/*** NORMALIZE ***/
@import 'normalize/normalize.scss';
@import 'accessibility/access.scss';

/*** GENERAL ***/
@import 'titles_actions/actions.scss';
@import 'titles_actions/titles.scss';

/*** HEADER ***/
@import 'header_footer/header.scss';
@import 'header_footer/socials.scss';
@import 'header_footer/mainMenu.scss';
@import 'header_footer/footer.scss';
@import 'header_footer/uinav.scss';
@import 'header_footer/access_panel.scss';

/*** BLOCS ***/
@import 'blocs/cover_img.scss';
@import 'blocs/latest_videos.scss';
@import 'blocs/latest_song.scss';
@import 'blocs/tour_dates.scss';
@import 'blocs/news.scss';
@import 'blocs/newsletter.scss';

/*** PAGES ***/
@import 'pages/home.scss';
@import 'pages/tourdates.scss';
@import 'pages/royaltv.scss';
@import 'pages/news.scss';
@import 'pages/about.scss';
@import 'pages/edito.scss';

/** INIT **/
* {
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
    font-family: 'firasans_regular', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width:100vw;

    &.popin_open {
        overflow:hidden;

        #access_panel {
            right:0;
        }

        &_small {
            &::before {
                content:"";
                position:fixed;
                display:block;
                top:0;
                left:0;
                width:100%;
                height:100vh;
                background-color:$black;
                opacity:0.75;
                z-index:110;
            }
        }
    }
}
a, button {
    color: $white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    margin:0;
    padding:0;
}

input[type=submit] {
    cursor: pointer;
}

input[type=text]:focus {
    outline-color: $red;
}

/** WRAP **/
.wrap {
    max-width:90rem;
    margin: 0 auto;
}

/** OPENED / CLOSED ***/
.opened {
    display: block !important;
}