/*** VARIABLES ***/
@import 'variables/colors';
@import 'variables/fonts';

/*** NORMALIZE ***/
@import 'normalize/normalize.scss';
@import 'accessibility/access.scss';

/*** GENERAL ***/
@import 'titles_actions/actions.scss';
@import 'titles_actions/titles.scss';

/*** HEADER ***/
@import 'header_footer/header.scss';
@import 'header_footer/footer.scss';
@import 'header_footer/uinav.scss';
@import 'header_footer/access_panel.scss';

/*** BLOCS ***/
@import 'blocs/cover_img.scss';

/** INIT **/
body {
    font-size:62.5%;
    background-color: $black;
    color: $white;
    font-family: 'firasans_regular', Arial, Helvetica, sans-serif;
}
a, button {
    color: $white;
}

/** WRAP **/
.wrap {
    max-width:95rem;
    margin: 0 auto;
}