/*** VARIABLES ***/
@import 'variables/colors';

/*** NORMALIZE ***/
@import 'normalize/normalize.scss';

/*** PARTS ***/
@import 'header_footer/header.scss';
@import 'header_footer/footer.scss';
@import 'titles_actions/actions.scss';
@import 'titles_actions/titles.scss';

/** INIT **/
body {font-size:62.5%;background-color: $dark_color; color: $bright_color;font-family:'Roboto Mono', monospace;}
a, button {color: $bright_color;}