#access_panel {
    position:absolute;
    top:calc(100% + 5rem);
    right:1rem;
    transition: right .3s cubic-bezier(0.67, 0.01, 0.15, 0.98);

    #open_access {
        width:5rem;
        height:5rem;
        background:$red url('../svgs/S3A.svg') no-repeat center center;
        background-size:contain;
    }

    .contain_access {
        width:22.5rem;
        position:absolute;
        top:0;
        left:5rem;
        background-color:$black;

        .form_body {
            padding:2rem 1.8rem;

            .form_line {
                padding-left:3.5rem;
                position:relative;
                display: block;
                margin-bottom: 1.2rem;
                cursor: pointer;
                user-select: none;

                &:hover input ~ .checkmark {
                    background-color: rgba($white,0.2);
                    border:1px solid rgba($white,0.75);
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    left:0;
                    z-index:2;

                    &:checked ~ .checkmark {
                        background-color: rgba($white,0.2);
                        border:1px solid rgba($white,0.75);

                        &:after {
                            display: block;
                        }
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 2rem;
                    width: 2rem;
                    background-color: transparent;
                    border:1px solid rgba($white,0.75);
                    z-index:1;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 0.6rem;
                        top: 0.2rem;
                        width: 0.5rem;
                        height: 1rem;
                        border: solid white;
                        border-width: 0 0.188rem 0.188rem 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        legend {
            display:block;
            width:100%;
            color:$white;
            height:5rem;
            line-height:5rem;
            background-color:$red;
            text-align:center;
            text-transform:uppercase;
            font-size:2em;
            font-family:'firasans_bold', arial, helvetica, sans-serif;
        }

        label {
            font-family:'firasans_bold', arial, helvetica, sans-serif;
            font-size:1.8em;
            line-height:2rem;
        }
    }

    &.open {
        right:22.5rem;
    } 
}