footer {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:$light_grey;
    padding:3rem 0;

    .socials {
        li {
            &:not(:first-of-type) {
                margin-left:1.25rem;
            }
        }
    }

    .legals {
        margin-left:25rem;
        display:flex;
        align-items: center;
        font-family: 'firasans', arial, helvetica, sans-serif;
        text-transform: uppercase;

        li {
            font-size:1.6em;
            line-height:1.2em;

            a {
                font-size:1em;
            }

            &:not(:first-of-type) {
                margin-left:1rem;

                &::before {
                    content: "|";
                    padding-right:1rem;
                }
            }
        }
    }

    a {
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity:0.8;
        }
    }
}