footer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    background-color:$light_grey;
    padding:3rem 0;

    @media screen and (max-width: $small-compt) {
        padding:3rem 1rem;
    }

    @media screen and (max-width: $tablette) {
        flex-direction: column;
        padding: 3rem 20rem;
    }

    @media screen and (max-width: $phone) {
        padding: 3rem;
    }

    .socials {
        li {
            &:not(:first-of-type) {
                margin-left:1.25rem;

                @media screen and (max-width: $tablette) {
                    margin-left: 2rem;
                }
            }
        }
    }

    .legals {
        margin-left:25rem;
        display:flex;
        align-items: center;
        font-family: 'firasans', arial, helvetica, sans-serif;
        text-transform: uppercase;
        flex-wrap: wrap;

        @media screen and (max-width: $small-compt) {
            margin-left: 8rem;
        }

        @media screen and (max-width: $tablette) {
            margin: 0;
            margin-top: 1.5rem;
            justify-content: center;
        }

        li {
            font-size:1.6em;
            line-height:1.4em;

            a {
                font-size:1em;
            }

            &:not(:first-of-type) {
                margin-left:1rem;

                &::before {
                    content: "|";
                    padding-right:1rem;
                }
            }
        }
    }

    a {
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity:0.8;
        }
    }
}