#mainMenu {
    position:fixed;
    z-index:9998;
    width:100vw;
    height:0;
    top:0;
    left:0;
    background-color:$black;
    display:flex;
    align-items: center;
    transition: all .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    overflow:hidden;

    &.menuActive {
        height:100vh;
    }

    .wrap {
        width:152rem;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        position:relative;

        @media screen and (max-width: $phone) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .sideMenu {
            padding-bottom: 1.6rem;

            @media screen and (max-width: $tablette) {
                padding-left:5rem;
            }

            @media screen and (max-width: $phone) {
                padding-left: 0;
                margin-top: 5rem;
            }

            > li {
                margin-bottom:3.2rem;

                @media screen and (max-width: $phone) {
                    text-align: center;
                    margin-bottom: 5rem;
                }
            }
        }

        .pages {
            width: 65%;

            li {
                @media screen and (max-width: $phone) {
                    text-align: center;
                }

                a {
                    font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                    color:transparent;
                    text-transform: uppercase;
                    font-size:9em;
                    line-height:1.2em;
                    -webkit-text-stroke: 3px $white;
                    position:relative;
                    background-image: linear-gradient(135deg, $white 0%, $white 50%, transparent 50.1%);
                    background-size: 0% 100%;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat;
                    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);

                    @media screen and (max-width: $small-compt) {
                        font-size:7.5em;
                    }

                    @media screen and (max-width: $tablette) {
                        font-size: 5.5em;
                        -webkit-text-stroke: 2px $white;
                    }

                    &:hover {
                        background-size: 220% 100%;
                    }

                    &.nuxt-link-exact-active {
                        background-size: 220% 100%;
                    }
                }
            }
        }
    }

    img {
        position:absolute;
        top:0;
        left:0;
        width:110%;
        height:110%;
        object-fit:cover;
        z-index:-1;
        opacity:0.25;
    }

    &.menuActive {
        img {
            animation: floatingImg 10s linear infinite alternate;
        }
    }
}