#mainMenu {
    position:fixed;
    z-index:9998;
    width:100vw;
    height:0;
    top:0;
    left:0;
    background-color:$black;
    display:flex;
    align-items: flex-start;
    // transition:all .4s ease-in-out;
    transition: all .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    overflow:hidden;

    &.menuActive {
        height:100vh;
    }

    .wrap {
        width:95rem;
        margin-top: 1.563rem;
        height:85vh;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        position:relative;

        .pages {
            li {
                a {
                    font-family:'firasans_bold', Arial, Helvetica, sans-serif;
                    color:transparent;
                    text-transform: uppercase;
                    font-size:10em;
                    line-height:1.2em;
                    -webkit-text-stroke: 3px $white;
                    position:relative;
                    background-image: linear-gradient(135deg, $white 0%, $white 50%, transparent 50.1%);
                    background-size: 0% 100%;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat;
                    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);

                    &:hover {
                        background-size: 220% 100%;
                    }

                    &.nuxt-link-exact-active {
                        background-size: 220% 100%;
                    }
                }
            }
        }
    }

    img {
        position:absolute;
        top:0;
        left:0;
        width:110%;
        height:110%;
        object-fit:cover;
        z-index:-1;
        opacity:0.25;
    }

    &.menuActive {
        img {
            animation: floatingImg 10s linear infinite alternate;
        }
    }
}