.socials {
    display:flex;
    align-items: middle;

    li {
        a {
            display:block;
            height:1.25rem;
            background-size:contain;
        }

        &.twitter a {
            width:1.563rem;
            background-image:url('../svgs/socialMedias/TWITTER.svg');
        }

        &.instagram a {
            width:1.25rem;
            background-image:url('../svgs/socialMedias/INSTAGRAM.svg');
        }

        &.facebook a {
            width:0.625rem;
            background-image:url('../svgs/socialMedias/FACEBOOK.svg');
        }

        &.bandsintown a {
            width:1.25rem;
            background-image:url('../svgs/socialMedias/BANDSINTOWN.svg');
        }

        &.spotify a {
            width:1.25rem;
            background-image:url('../svgs/socialMedias/SPOTIFY.svg');
        }

        &:not(:first-of-type) {
            margin-left:1.25rem;
        }
    }
}