.aboutPage {
    min-height:calc(100vh - 8rem);
    position: relative;

    .bloc_home {
        margin-top:0;
        padding-top:12.8rem;
        margin-bottom:10rem;
        height:100vh;

        @media screen and (max-width: $small-compt) {
            padding-top: 11rem;
        }

        @media screen and (max-width: $tablette) {
            height:auto;
        }

        .bloc_title {
            margin-bottom:7.5rem;

            @media screen and (max-width: $small-compt) {
                margin-bottom: 6.5rem;
            }

            .title_home {
                width:50%;
                opacity:0;

                @media screen and (max-width: $tablette) {
                    width:100%;
                    text-align: center;
                }
            }
        }

        .bandmembers {
            opacity:0;

            > div {
                width:50%;
                cursor:pointer;

                .imgmb {
                    transform:skew(-10deg);
                    overflow:hidden;
                    width:48%;
                    height:18rem;
                    float:left;
                    margin-right: 3rem;

                    img {
                        @media screen and (max-width: $tablette) {
                            width:110%;
                            transform:skew(10deg);
                            margin-top:-7rem;
                        }
                    }
                }

                @media screen and (max-width: $small-compt) {
                    width:60%;
                }

                @media screen and (max-width: $tablette) {
                    width:100%;
                }

                &:hover {
                    .line {
                        height:4.8rem;
                    }

                    .name {
                        background-size: 220% 100%;
                    }
                }

                &:not(:first-of-type) {
                    padding-top:7.7rem;

                    @media screen and (max-width: $small-compt) {
                        padding-top: 6.7rem;
                    }
                }

                &.remi {
                    .name {
                        letter-spacing:0.05em;
                    }
                }
    
                &.seb {
                    .name {
                        letter-spacing:0.02em;
                    }
                }
    
                &.em {
                    .name {
                        letter-spacing:0.02em;
                    }
                }
            }

            .name {
                font-family:'firasans_bold',Arial, Helvetica, sans-serif;
                font-size:8em;
                line-height:0.9em;
                color:transparent;
                text-transform: uppercase;
                -webkit-text-stroke: 3px $white;
                margin: 0;
                background-image: linear-gradient(135deg, $white 0%, $white 50%, transparent 50.1%);
                background-size: 0% 100%;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-repeat: no-repeat;
                transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);

                @media screen and (max-width: $small-compt) {
                    font-size: 6em;
                }
            }

            .nickname {
                font-family:'firasans_bold',Arial, Helvetica, sans-serif;
                font-size:4em;
                line-height:1.2em;
                color:$red;
                text-transform: uppercase;
                margin: 0;
                letter-spacing:0.6em;

                @media screen and (max-width: $small-compt) {
                    letter-spacing: 0.3em;
                }

                @media screen and (max-width: $tablette) {
                    font-size: 3em;
                    letter-spacing: 0;
                }
            }

            .line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height:0;
                overflow:hidden;
                transition:height .3s ease-in-out;
                padding-right: 5rem;

                @media screen and (max-width: $tablette) {
                    height:4.8rem;
                }
            }

            .socials {
                display: flex;
                justify-content: space-between;
            }

            .role {
                font-family:'firasans_bold',Arial, Helvetica, sans-serif;
                font-size:2.4em;
                line-height:1.2em;
                color:$white;
                text-transform: uppercase;
                margin: 0;
                letter-spacing:0.007em;
            }
        }
    }

    .img {
        position:absolute;
        top:0;
        right:0%;
        width:40%;
        height:0;
        z-index:-1;
        -webkit-clip-path: polygon(0 100%,100% 90%,100% 0,0 0);
        overflow:hidden;

        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }

    .imgs {
        display: flex;
        justify-content: space-between;
        margin-bottom:10rem;

        .img_container {
            max-width:49%;
            flex:0 0 49%;
            transform:skew(-10deg);
            height:45vh;
            overflow:hidden;
            @include redboxshadow;
            border-style:inset;
            @include whiteborder;

            @media screen and (max-width: $tablette) {
                height:25rem;
            }

            img {
                width:110%;
                height:100%;
                margin-left:-5%;
                object-fit: cover;
                transform:skew(10deg);
            }
        }
    }

    .aboutText {
        margin-bottom:10rem;
        column-count: 3;
        column-gap: 8.5rem;
        height:100%;
        font-size: 1.6em;
        line-height: 1.4em;

        @media screen and (max-width: $tablette) {
            column-count: 2;
        }

        > p:first-of-type {
            margin-top: 0;
        }

        img {
            max-width:100%;
            height:auto;
            transform:skew(-10deg);
            @include redboxshadow;
            border-style:inset;
            @include whiteborder;

            @media screen and (max-width: $tablette) {
                display: none;
            }
        }
    }
}