#edito {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 12.8rem;
    min-height: calc(100vh - 8rem);

    .content {
        max-width:60%;
        flex:0 0 60%;
        position: relative;
        margin-bottom:10rem;

        h1 {
            font-family: 'firasans_bold', arial, helvetica, sans-serif;
            font-weight: normal;
            font-size: 10em;
            line-height: 1em;
            text-transform: uppercase;
            width:140%;
            color:$white;
            margin-top:0;
            margin-bottom:4rem;

            @media screen and (max-width: $small-compt) {
                font-size:8em;
            }
        }

        .content_type {
            font-family: 'firasans_regular', arial, helvetica, sans-serif;
            font-weight: normal;
            font-size: 2em;
            line-height: 1.4em;
            color:$grey;
            margin-bottom:10rem;

            a {
                text-decoration-line: underline;
            }

            blockquote {
                color:$white;
                font-family: 'firasans_semibold', Arial, Helvetica, sans-serif;
                font-size: 2.2rem;
                line-height: 1.2em;
                padding-left:12rem;
                background:url('../svgs/QUOTE.svg') no-repeat left center;
                background-size: 7rem 5rem;
                margin: 7rem 5rem 7rem 10rem;

                p {
                    font-size: 1em;
                    line-height: 1.2em;
                }
            }

            h2 {
                font-family: 'firasans_bold', arial, helvetica, sans-serif;
                font-size: 3rem;
                line-height: 1.2em;
                color:$white;
            }

            h3 {
                font-family: 'firasans_bold', arial, helvetica, sans-serif;
                font-size: 2.6rem;
                line-height: 1.2em;
                color:$white;
            }

            h4 {
                font-family: 'firasans_bold', arial, helvetica, sans-serif;
                font-size: 2.4rem;
                line-height: 1.2em;
                color:$white;
            }

            h5 {
                font-family: 'firasans_bold', arial, helvetica, sans-serif;
                font-size: 2.2rem;
                line-height: 1.2em;
                color:$white;
            }

            h6 {
                font-family: 'firasans_bold', arial, helvetica, sans-serif;
                font-size: 2rem;
                line-height: 1.2em;
                color:$white;
            }

            figure {
                margin: 0;
            }

            iframe {
                width:100%;
                min-height:50rem;
            }

            ul {
                padding-left:10rem;

                li::before {
                    content: "\2022";
                    color: $red;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                  }
            }

            table {
                background-color:rgba($white, 0.05);
                width:100%;
                border:1px solid $dark_grey;
                border-bottom:0;
                border-left:0;

                td {
                    border:1px solid $dark_grey;
                    border-top:0;
                    border-right:0;
                    padding:1rem;
                }
            }
        }
    }

    > img {
        position:fixed;
        top:0;
        right:0;
        width:39%;
        height:100vh;
        object-fit: cover;
        -webkit-clip-path: polygon(0 100%,100% 100%,100% 0,10% 0px);
        z-index:-1;
    }
}