.mini_modules {
    display:flex;
    justify-content:space-between;
}

// BLOC HOMES
.wrap.bloc_home, .bloc_home {
    margin-top:7.8125rem;
}

.home .bloc_home:last-of-type {
    margin-bottom:8.75rem;
}