// @keyframes runwaylogo {
//     0% {left:100%;}
//     100% {left:-100%;}
// }

// @keyframes floatingImg {
//     0% {margin-left:0;}
//     100% {margin-left:-5rem;}
// }

// APPEAR
.fadefromleft {
    animation: fadefromleft .5s cubic-bezier(0.67, 0.01, 0.15, 0.98) forwards;
}

.fadefromright {
    animation: fadefromright .5s cubic-bezier(0.67, 0.01, 0.15, 0.98) forwards;
}

.fadein {
    animation: fadein .5s cubic-bezier(0.67, 0.01, 0.15, 0.98) forwards;
}

.fadeout {
    animation: fadeout .5s cubic-bezier(0.67, 0.01, 0.15, 0.98) forwards;
}

.opentobottom {
    animation: opentobottom .5s cubic-bezier(0.67, 0.01, 0.15, 0.98) forwards;
}

.light_delay {
    animation-delay: .2s;
}

.delay {
    animation-delay: .4s;
}

.delay_one {
    animation-delay: .6s;
}

.delay_two {
    animation-delay: 0.8s;
}

@keyframes fadefromleft {
    0%{margin-left:-100%;opacity:0;}
    100%{margin-left:0;opacity:1;}
}

@keyframes fadefromright {
    0%{margin-right:-100%;opacity:0;}
    100%{margin-right:0;opacity:1;}
}

@keyframes fadein {
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes fadeout {
    0%{opacity:1;}
    100%{opacity:0;}
}

@keyframes opentobottom {
    0%{height:0;}
    100%{height:110vh;}
}