// FIRA SANS REGULAR
@font-face {
    font-family: 'firasans_Regular';
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

// FIRA SANS ITALIC
@font-face {
    font-family: 'firasans_italic';
    src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
}

// FIRA SANS BOLD
@font-face {
    font-family: 'firasans_Bold';
    src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

// FIRA SANS BOLD ITALIC
@font-face {
    font-family: 'firasans_bold_italic';
    src: url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
}

// UNIFRAKTURMAGUNTIA REGULAR
@font-face {
    font-family: 'unifrakturmaguntia';
    src: url('../fonts/UnifrakturMaguntia-Regular.ttf') format('truetype');
}