.action {
    display: inline-block;
    font-family: 'firasans_bold', Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:2em;
    line-height:100%;
    background-color:$white;
    text-transform: uppercase;
    padding:0.3rem 3.2rem;
    transform:skew(-10deg);
    @include redboxshadow;
    transition: all .3s cubic-bezier(0.67, 0.01, 0.15, 0.98);

    span {
        display: block;
        color:$black;
        transform:skew(10deg);
    }

    &.small_action {
        padding:0.3rem 1.6rem;

        @media screen and (max-width: $small-compt) {
            font-size:1.4em;
            padding:0.2rem 1rem;
        }
    }

    &:hover {
        @include Hredboxshadow;
    }
}

.big_action {
    @media screen and (max-width: $small-compt) {
        padding: 0 2rem;
    }
    .action {
        font-size: 3em;
        padding:0.8rem 4.8rem;
        transform:skew(-20deg);

        @media screen and (max-width: $small-compt) {
            padding:0.8rem 3rem;
            font-size:2.4em;
        }

        span {
            transform:skew(20deg);
        }
    }
}