.action {
    display: inline-block;
    font-family: 'firasans_bold', Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:2em;
    line-height:100%;
    background-color:$white;
    text-transform: uppercase;
    padding:0.2rem 2rem;
    transform:skew(-10deg);
    @include redboxshadow;
    transition: all .3s ease-in-out;

    span {
        display: block;
        color:$black;
        transform:skew(10deg);
    }

    &.small_action {
        padding:0.2rem 1rem;
    }
}

.big_action {
    .action {
        font-size: 3em;
        padding:0.5rem 3rem;
        transform:skew(-20deg);

        span {
            transform:skew(20deg);
        }
    }
}