/*** BLOCS HOME ***/
.bloc_title, .bloc_title.wrap {
    margin-bottom:4rem;
}

.bloc_home .title_home {
    font-family:'unifrakturmaguntia', 'firasans_Bold', Arial, Helvetica, sans-serif;
    font-size:9.6em;
    line-height:1em;
    color:$white;
    margin:0;
    font-weight: normal;

    @media screen and (max-width: $small-compt) {
        font-size:7.5em;
    }

    @media screen and (max-width: $tablette) {
        font-size: 6.5em;
    }

    @media screen and (max-width: $phone) {
        font-size: 3em;
        text-align: center;
    }
}

.title_home {
    font-family:'unifrakturmaguntia', 'firasans_Bold', Arial, Helvetica, sans-serif;
}

body.fira .title_home {
    font-family: 'firasans_Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#page:not(.home) .bloc_home .title_home {
    font-size:8rem;
}

.bloc_home .subtitle {
    font-family:'firasans_Bold', Arial, Helvetica, sans-serif;
    color:$grey;
    font-size: 2em;
    line-height: 1.2em;

    @media screen and (max-width: $phone) {
        margin-top: 1rem;
        text-align: center;
        max-width:75%;
    }
}

.bloc_home .bloc_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: $phone) {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.bloc_home .title_home {
    +.subtitle {
        margin-left:7.5rem;
        margin-right:1.6rem;

        @media screen and (max-width: $phone) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}