/*** BLOCS HOME ***/
.bloc_title, .bloc_title.wrap {
    margin-bottom:2.5rem;
}

.bloc_home .title_home {
    font-family:'unifrakturmaguntia', 'firasans_Bold', Arial, Helvetica, sans-serif;
    font-size:6rem;
    line-height:1em;
    color:$white;
    margin:0;
    font-weight: normal;
}

#page:not(.home) .bloc_home .title_home {
    font-size:5rem;
}

.bloc_home .subtitle {
    font-family:'firasans_Bold', Arial, Helvetica, sans-serif;
    color:$grey;
    font-size: 2em;
    line-height: 1.2em;
}

.bloc_home .bloc_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bloc_home .title_home {
    +.subtitle {
        margin-left:4.6875rem;
        margin-right:1rem;
    }
}